
/*
    A Birthday Gift Website for my wife Miranda
    
    Her favorite colors are mint and pink so I used them as the background gradient but I had hoped that the coloring turned out better- With more time, this is something that I would fix
 */

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#98FB98, pink);
    color: #ffffff;
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

a {
    color: white;
}

/* Birthday girl section styling*/

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Gift styling */

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-cheers {
    height: 200px;
}

/* Hover Images */

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
    background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#gift-img-sunshine:hover {
    background-image: url("/images/sunshine.jpg");
}

#gift-img-cool:hover {
    background-image: url("/images/cool.jpg");
}

#gift-img-tough:hover {
    background-image: url("/images/tough.jpg");
}

#gift-img-fierce:hover {
    background-image: url("/images/fierce.jpg");
}

#gift-img-mischievous:hover {
    background-image: url("/images/mischievous.jpg");
}

#gift-img-wild:hover {
    background-image: url("/images/wild.jpg");
}

#gift-img-all-the-rest:hover {
    background-image: url("/images/all-the-rest.jpg");
}

#gift-img-dressed-up-nice:hover {
    background-image: url("/images/dressed-up-nice.jpg");
}

#gift-img-crossing-bridges:hover {
    background-image: url("/images/crossing-bridges.jpg");
}
